
@using E_Trade.MvsWebUI.Entity;

@{
    ViewBag.Title = "Details";
}

<div class="row" id="details-product">
    <div class="content col-md-3">
        <img class="card-img" src="~/Theme/img/shos-14.jpg" alt="">
        <div class="card-body">
            <h5 class="acrd-title">card-title</h5>
            <p class="card-text">this is card longer</p>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <button><small class="card-muted">Button</small></button>
        </div>
    </div>
</div>