@model IEnumerable<E_Trade.MvsWebUI.Entity.Product>
@foreach (var item in Model)
{
    <div class="content col-md-3">
        <img class="card-img" src="@item.PictureUrl" alt="">
        <div class="card-body">
            <h5 class="acrd-title">@item.Name</h5>
            <p class="card-text">@item.Description</p>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <button><small class="card-muted"><a href="/Home/Details/@item.Id">Button</a></small></button>
        </div>
    </div>
}
