
@{
    ViewBag.Title = "List";
}
<div class="card-story">
    <!-- Coursel -->
    <!-- slider-card -->
    <span class="card" id="story-card">
        <img class="card-img-top" src="~/Theme/img/a-8.jpg" alt="Card image">
    </span>
    <span class="card" id="story-card">
        <img class="card-img-top" src="~/Theme/img/pexels-shane-aldendorff-1302321.jpg" alt="Card image">
    </span>
    <span class="card" id="story-card">
        <img class="card-img-top" src="~/Theme/img/shos-13.jpg" alt="Card image">
    </span>
    <span class="card" id="story-card">
        <img class="card-img-top" src="~/Theme/img/shos-12.jpg" alt="Card image">
    </span>
    <!-- slider-card -->
    <span class="card" id="story-card">
        <img class="card-img-top" src="~/Theme/img/a-4.jpg" alt="Card image">
    </span>
    <span class="card" id="story-card">
        <img class="card-img-top" src="~/Theme/img/a-5.jpg" alt="Card image">
    </span>
</div>
<div class="container">
    <div class="page-title">
        <h1>Products</h1>
    </div>
    <div class="row">
        <!--Kategory-->
        <div class="category col-md-3 w-20">
            <ul class="list-group">
                <li class="list-group-item active" id="group-title">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row" id="list-prdt">
                <div class="content col-md-3">
                    <img class="card-img" src="~/Theme/img/pexels-ray-piedra-1464625.jpg" alt="">
                    <div class="card-body">
                        <h5 class="acrd-title">card-title</h5>
                        <p class="card-text">this is card longer</p>
                        <ul>
                            <li><i class="fa fa-star checked"></i></li>
                            <li><i class="fa fa-star checked"></i></li>
                            <li><i class="fa fa-star checked"></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <button><small class="card-muted">Button</small></button>
                    </div>
                </div>
                <div class="content col-md-3">
                    <img class="card-img" src="~/Theme/img/s-5.jpg" alt="">
                    <div class="card-body">
                        <h5 class="acrd-title">card-title</h5>
                        <p class="card-text">this is card longer</p>
                        <ul>
                            <li><i class="fa fa-star checked"></i></li>
                            <li><i class="fa fa-star checked"></i></li>
                            <li><i class="fa fa-star checked"></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <button><small class="card-muted">Button</small></button>
                    </div>
                </div>
                <div class="content col-md-3">
                    <img class="card-img" src="~/Theme/img/s-6.jpg" alt="">
                    <div class="card-body">
                        <h5 class="acrd-title">card-title</h5>
                        <p class="card-text">this is card longer</p>
                        <ul>
                            <li><i class="fa fa-star checked"></i></li>
                            <li><i class="fa fa-star checked"></i></li>
                            <li><i class="fa fa-star checked"></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <button><small class="card-muted">Button</small></button>
                    </div>
                </div>
                <div class="content col-md-3">
                    <img class="card-img" src="~/Theme/img/a-9.jpg" alt="">
                    <div class="card-body">
                        <h5 class="acrd-title">card-title</h5>
                        <p class="card-text">this is card longer</p>
                        <ul>
                            <li><i class="fa fa-star checked"></i></li>
                            <li><i class="fa fa-star checked"></i></li>
                            <li><i class="fa fa-star checked"></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <button><small class="card-muted">Button</small></button>
                    </div>
                </div>
                <div class="content col-md-3">
                    <img class="card-img" src="~/Theme/img/a-3.jpg" alt="">
                    <div class="card-body">
                        <h5 class="acrd-title">card-title</h5>
                        <p class="card-text">this is card longer</p>
                        <ul>
                            <li><i class="fa fa-star checked"></i></li>
                            <li><i class="fa fa-star checked"></i></li>
                            <li><i class="fa fa-star checked"></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <button><small class="card-muted">Button</small></button>
                    </div>
                </div>
                <div class="content col-md-3">
                    <img class="card-img" src="~/Theme/img/a-1 (2).jpg" alt="">
                    <div class="card-body">
                        <h5 class="acrd-title">card-title</h5>
                        <p class="card-text">this is card longer</p>
                        <ul>
                            <li><i class="fa fa-star checked"></i></li>
                            <li><i class="fa fa-star checked"></i></li>
                            <li><i class="fa fa-star checked"></i></li>
                            <li><i class="fa fa-star "></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <button><small class="card-muted">Button</small></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

